{{layout name='layout' /}}


<link rel="stylesheet" href="__PUBLIC__/admin/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 博文管理 <span class="c-gray en">&gt;</span> 评论管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" id='btn-refresh' onclick="location.reload();" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<table class="table">
  <tr>
    <td width="200" class="va-t">
      <ul id="treeDemo" class="ztree"></ul>
    </td>
    <td class="va-t" style="border-left: 1px solid #dcdcdc;">
       <iframe ID="testIframe" Name="testIframe" FRAMEBORDER=0 SCROLLING=AUTO width=100%  height=500px SRC="{{:url('admin/comment/lists')}}"></iframe>
    </td>
  </tr>
</table>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/admin/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript">
var setting = {
  view: {
    dblClickExpand: false,
    showLine: false,
    selectedMulti: false
  },
  data: {
    simpleData: {
      enable:true,
      idKey: "id",
      pIdKey: "pId",
      rootPId: ""
    }
  },
  callback: {
    //控制点击和跳转
    beforeClick: function(treeId, treeNode) {
      var zTree = $.fn.zTree.getZTreeObj("tree");
      if (0) {
        zTree.expandNode(treeNode);
        return false;
      } else {
        demoIframe.attr("src",treeNode.file + ".html");
        return true;
      }
    }
  }
};
var file="{{:url('admin/comment/lists','','')}}";
//分类设置
var zNodes =[
    {{volist name='article' id='vo'}}
        { id:"{{$vo.id}}", pId:0, name:"{{$vo.id}}.{{$vo.title}}", open:true,file:file+"/id/"+"{{$vo.id}}"},
    {{/volist}}
];

var code;

function showCode(str) {
  if (!code) code = $("#code");
  code.empty();
  code.append("<li>"+str+"</li>");
}

$(document).ready(function(){
  var t = $("#treeDemo");
  t = $.fn.zTree.init(t, setting, zNodes);
  demoIframe = $("#testIframe");
  //demoIframe.on("load", loadReady);
  var zTree = $.fn.zTree.getZTreeObj("tree");
  //zTree.selectNode(zTree.getNodeByParam("id",'11'));
});
</script>
